<div ng-controller="mainCtrl">
    <div class="wrapper">
        <div class="header row">
            <div class="col-xs-7">
                <a ng-href="/#/word_list" class="back-btn">
                    <small class="glyphicon glyphicon-chevron-left"></small>
                </a>
                <span>{{currListName}}</span>
            </div>
            <div class="col-xs-5">
                <div class="header-actions pull-right">
                    <a href="#">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="words-container">
            <div ng-repeat="word in getCurrWordList()"
                class="word {{word.important ? 'important' : ''}}
                {{isFocusedWord(word) ? 'focused' : ''}}"
                ng-click="setWordFocused(word)">
                <div class="word-title"><strong>{{word.title}}</strong></div>
                <div class="word-meaning text-muted ">{{word.meaning}}</div>
                <div class="word-actions row">
                    <button class="btn btn-link col-xs-4"
                        ng-click="markImportant(word)">
                        <span class="glyphicon
                            {{word.important ? 'glyphicon-star-empty' : 'glyphicon-star'}}"></span>
                    </button>
                    <button class="btn btn-link col-xs-4"
                        ng-click="openEditModal(word)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-link col-xs-4"
                        >
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </button>
                </div>
            </div>
        </div>

        <form ng-submit="insertWord(title, meaning)" class="add-word-form form-horizontal">
            <div class="form-group">
                <div class="col-xs-5">
                    <input type="text"
                        ng-model="title"
                        class="form-control"
                        placeholder="word"
                        required />
                </div>
                <div class="col-xs-5">
                    <input type="text"
                        ng-model="meaning"
                        class="form-control"
                        placeholder="meaning"
                        required />
                </div>
                <div class="col-xs-2">
                    <input type="submit"
                        value="+"
                        class="form-control" />
                </div>
            </div>
        </form>
    </div>

    <div class="edit-modal" ng-show="editing">
        <div class="overlay">
        </div>
        <div class="dialog">
            <span ng-click="closeEditModal()"
                class="glyphicon glyphicon-remove close-btn"></span>
            <h3>Edit Word</h3>
            <form ng-submit="updateWord(titleEditing, meaningEditing)">
                <input type="text"
                    class="form-control"
                    ng-model="titleEditing" />
                <input type="text"
                    class="form-control"
                    ng-model="meaningEditing" />
                <input type="submit"
                    class="form-control" />
            </form>
        </div>
    </div>
</div>