<div ng-controller="mainCtrl">
    <div class="wrapper">
        <div class="page-header">
            <h1>
                <a ng-href="/#/word_list"><small class="glyphicon glyphicon-chevron-left"></small></a>
                {{currListName}}
            </h1>
        </div>

        <form ng-submit="insertWord(title, meaning)" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="text"
                        ng-model="title"
                        class="form-control"
                        placeholder="word"
                        required />
                </div>
                <div class="col-sm-4">
                    <input type="text"
                        ng-model="meaning"
                        class="form-control"
                        placeholder="meaning"
                        required />
                </div>
                <div class="col-sm-4">
                    <input type="submit"
                        value="Add"
                        class="form-control" />
                </div>
            </div>
        </form>

        <div class="words-container">
            <div ng-repeat="word in getCurrWordList()"
                class="word {{word.important ? 'important' : ''}}
                {{isFocusedWord(word) ? 'focused' : ''}}"
                ng-click="setWordFocused(word)">
                <div class="word-title"><strong>{{word.title}}</strong></div>
                <div class="word-meaning text-muted ">{{word.meaning}}</div>
                <div class="word-actions row">
                    <button class="btn btn-link col-xs-4"
                        ng-click="markImportant(word)">
                        <span class="glyphicon 
                            {{word.important ? 'glyphicon-star-empty' : 'glyphicon-star'}}"></span>
                    </button>
                    <button class="btn btn-link col-xs-4"
                        ng-click="openEditModal(word)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-link col-xs-4"
                        >
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="edit-modal" ng-show="editing">
        <div class="overlay">
        </div>
        <div class="dialog">
            <span ng-click="closeEditModal()"
                class="glyphicon glyphicon-remove close-btn"></span>
            <h3>Edit Word</h3>
            <form ng-submit="updateWord(titleEditing, meaningEditing)">
                <input type="text"
                    class="form-control"
                    ng-model="titleEditing" />
                <input type="text"
                    class="form-control"
                    ng-model="meaningEditing" />
                <input type="submit"
                    class="form-control" />
            </form>
        </div>
    </div>
</div>