<div ng-controller="mainCtrl">
    <div class="page-header">
        <h1>Word Lists</h1>
    </div>

    <form ng-submit="createWordList(listName)" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-4">
                <input type="text"
                    ng-model="listName"
                    class="form-control"
                    placeholder="Word List"
                    required />
            </div>
            <div class="col-sm-4">
                <input type="submit" class="form-control" value="Add" />
            </div>
        </div>
    </form>

    <div class="list-group">
        <a class="list-group-item"
            ng-repeat="list in wordLists"
            ng-href="#/word_list/{{list.list_name}}">
            {{list.list_name}}
            <span class="badge">{{list.words.length}}</span>
        </a>
    </div>
</div>